.userDashboardLinks {
  @apply flex flex-col-reverse;

  @screen xl {
    @apply flex-row;
  }

  .btnContent {
    @apply flex justify-center items-center gap-2;
  }

  .midContent {
    @apply flex flex-col;

    .subBtnTitleWrapper {
      @apply flex flex-col;
      @apply w-full;
      @apply mb-[2.25rem];

      @screen sm {
        @apply flex-row justify-between items-center;
      }

      .title {
        @apply flex;
        @apply font-poppins font-medium text-[1.5rem] leading-[2.25rem];
        @apply mb-[0.75rem];
        @apply break-all;
      }

      .button {
        @apply min-w-[14.8125rem];
      }
    }

    ul {
      li {
        .listItem {
          @apply flex justify-between items-center flex-col;
          @apply mb-[1.5rem];

          @apply p-3 border-2 border-slate-300 rounded;

          &.selected {
            @apply border-[0.125rem] border-[#939393] rounded-[0.375rem];
          }

          @screen sm {
            @apply flex-row;
          }

          .social {
            @apply flex items-center;
            @apply font-urbanist font-medium text-[1.5rem] leading-[1.8125rem];
            @apply break-all;
            @apply mb-[1.25rem];
            @apply mr-[1.25rem];

            @screen sm {
              @apply mb-0;
            }

            .icon {
              @apply flex justify-center items-center;
              @apply mr-[1.5rem];
            }

            .info {
              @apply flex flex-col;

              span {
                @apply flex;

                &.title {
                  @apply font-urbanist font-bold text-[1rem] leading-[1.25rem];
                  @apply mb-[0.25rem];
                }

                &.description {
                  @apply font-urbanist font-normal italic text-[1.2rem] leading-[1.8125rem];
                }
              }
            }
          }

          .btnWrapper {
            @apply flex flex-col;

            @screen sm {
              @apply flex-row justify-between;
              @apply max-w-[18.75rem];
            }

            .firstBtn {
              @apply min-w-[11.75rem];

              @screen sm {
                @apply mb-0;
              }
            }
          }
        }
      }
    }
  }
}
