.permissionRequest {
  @apply flex flex-col justify-center;

  h1 {
    @apply font-poppins font-semibold text-[2.375rem] leading-[2.625rem] text-center;
    @apply mb-[0.75rem];

    @screen md {
      @apply text-[3rem] leading-[4.5rem];
    }
  }

  .publicKey {
    @apply flex justify-center;
    @apply font-urbanist text-[#0075FF] font-semibold text-[1.25rem] leading-[1.5rem] text-center;
    @apply mb-[0.75rem];
    @apply break-all;

    @screen md {
      @apply text-[1.5rem] leading-[1.8125rem];
    }

  }

  .listTitle {
    @apply flex justify-center;
    @apply font-urbanist font-semibold text-[1.5rem] leading-[1.75rem] text-center;
    @apply mb-[0.75rem];

    @screen md {
      @apply text-[1.75rem] leading-[2.125rem];
    }
  }

  ul {
    @apply p-[0.75rem];

    li {
      @apply flex;
      @apply mb-[1.5rem];

      .socialList {
        @apply flex flex-row justify-between;
        @apply w-full;

        .socialIcon {
          @apply flex items-center;
          @apply mr-[1.5rem];

          .iconStyle {
            @apply w-[48px];
          }
        }

        .socialBox {
          @apply flex flex-row justify-between;
          @apply w-full;

          .socialName {
            @apply flex items-center justify-start;
            @apply font-urbanist font-normal text-[1.5rem] leading-[1.8125rem];
          }

          .socialStatus {
            @apply flex items-center;
          }
        }

      }
    }
  }

  .buttonWrapper {
    @apply flex justify-between flex-row;
    @apply mb-[2.25rem];

    button {
      @apply mb-[0.625rem];
      @apply w-[calc(50%-0.375rem)];

      @screen sm {
        @apply mb-0;
      }
    }
  }

  p {
    @apply font-urbanist text-[1.125rem] leading-[1.375rem] text-[#939393] italic text-center;

    span {
      @apply font-bold;
    }
  }
}